:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
.slider {
  background-color: var(--navy-blue);
}
.baslik {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.liste {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.baslik-uc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.metin {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section {
  background-color: #f4f4fd;
}
.baslik-iki {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.genel {
  background-color: #ffffff;
}
.paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.logo-span-iki {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-content {
  display: flex;
  align-items: center;
}
.logo-content {
  margin-right: 76px;
}
.ul-content {
  display: flex;
  gap: 40px;
}
.li-content {
  padding: 24px 0;
}
img {
  display: block;
}
